@import "bootstrap/scss/bootstrap";
@import "bootstrap/dist/css/bootstrap.css";
// I might need a boilerplate preliminary thing for this project, idk yet.
$maxwidth: 100vw;
$backgroundcolor: #E38F83;
$maincolor: #2AABBD;

#root {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: $maxwidth;
  height: 150vh;
  background-color: $backgroundcolor;
}

#lock-handle {
  width: $maxwidth;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: absolute;
  z-index: 0;

  .left-arc, .right-arc {
    height: 20rem;
    width: 20rem;
    color: #cdcdcd;
    border-color: #c0c0c0;
    border-style: solid;
    border-width: 1.5rem;
    border-bottom: none;
  }

  .left-arc {
    border-right: none;
    border-top-left-radius: 90% 80%;
  }

  .right-arc {
    border-left: none;
    border-top-right-radius: 90% 80%;
  }
}

#proj-explanation {
  display: flex;
  justify-content: center;
  top: 8.5rem;
  position: relative;
  z-index: 10;
}

.text {
  width: 30rem;
  font-size: calc(3vw - 16px);
  color: #BD3C2A;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.link {
  text-decoration: none;
  text-decoration-line: underline;
  color: inherit;
}

#lock-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 20rem;
  width: 45rem;
  height: 45rem;
  background-color: #dfdffa;
  opacity: 1;
  background-image: linear-gradient(0deg, #dfdffa 57%, #b6b6cc 43%);
  background-size: 33px 6px;
  background-clip: border-box;
}

#carouselExample {
  display: flex;
  flex-flow: column nowrap;
}

.carousel-inner {
  width: 100%;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-items: center;
  
  .carousel-item{ 
    width: 11rem;
  }
}

.special {
  border: 8px $maincolor;
  border-style:ridge;
}

.active, .carousel-item-prev, .carousel-item-next, .carousel-item-end, .carousel-item-start {
  margin-right: 0;
  width: 11rem;
}

.carousel-item-next, .carousel-item-prev{
  position:absolute;
}

#first, #second, #third{
  .carousel-control-prev, .carousel-control-next {
  display: grid;
  width: 2rem;
  background-color: black;
  background: none; 

  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 1.4rem;
    background-size: 1.4rem;
    opacity: 0.9;
    background-color: $maincolor;
    }
  }

  .carousel-control-prev {
    justify-content: start;
  }

  .carousel-control-next {
    justify-content: end;
  }
}

.carousel-item-start, .carousel-item-end {
  width: 20rem
}

//////////////////////////////////////////////////
@media screen and (max-width: 1129px) {
  
  .text {
    font-size: calc(3vw - 11px);
  }
}

@media screen and (max-width: 900px) {

  .text {
    font-size: calc(3vw - 4px);
  }
}
@media screen and (max-width: 630px) {
  
  .text {
    font-size: calc(3vw - 1px);
  }
}


