@import "bootstrap/scss/bootstrap";

// I might need a boilerplate preliminary thing for this project, idk yet.
$maxwidth: 100vw;
$backgroundcolor: #373737;

#root {
  width: $maxwidth;
  height: 100vh;
  background-color: $backgroundcolor;
}

#lock-handle {
  width: $maxwidth;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  position: absolute;
  z-index: 0;

  .left-arc, .right-arc {
    height: 20rem;
    width: 30vw;
    color: #cdcdcd;
    border-color: #c0c0c0;
    border-style: solid;
    border-width: 1.5rem;
    border-bottom: none;
  }

  .left-arc {
    border-right: none;
    border-top-left-radius: 90% 80%;
  }
  .right-arc {
    border-left: none;
    border-top-right-radius: 90% 80%;
  }
}

#proj-explanation {
  display: flex;
  justify-content: center;
  top: 8.5rem;
  position: relative;
  z-index: 10;

}
.text {
  width: 35vw;
  font-size: calc(3vw - 16px);
}

@media screen and (max-width: 1129px) {
  
  .text {
    font-size: calc(3vw - 11px);
  }
}

@media screen and (max-width: 900px) {

  .text {
    font-size: calc(3vw - 4px);
  }
}
@media screen and (max-width: 630px) {
  
  .text {
    font-size: calc(3vw - 1px);
  }
}
